# PostgreSQL Datenbank-Verbindung (DATABASE_URL)
# Format: postgres://BENUTZERNAME:PASSWORT@HOST:PORT/DATENBANKNAME
DATABASE_URL="postgres://postgres:dein_postgres_passwort@localhost:5432/meincms"

# Webserver Port
PORT=5000

# Logging (debug, info, warn, error)
RUST_LOG="meincms_web=debug,tower_http=debug"
